body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Merriweather', serif;
    background-color: #EEEEEE;
}

.contenedor{
    display: flex;
    width: 300px;
    height: 420px;
    margin: 50px;
    color: #fffc39;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 42px;
    background: #541212;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(48, 50, 50, 0.82);
    -moz-box-shadow:    3px 3px 16px 0px rgba(48, 50, 50, 0.82);
    box-shadow:         3px 3px 16px 0px rgba(48, 50, 50, 0.82);
}

.nombres{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

.contar{
    font-size: 4rem;
}

.botones{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 1,5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

span{
    color: rgb(0, 0, 0);
}

.reset{
    width: 50px;
}


@media screen and (max-width: 420px){
    body{
        height: 50%;
        flex-direction: column;
    }
}
